<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>launchScreenImage</string>
	</dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>1306432813490046</string>
      </array>
      </dict>
    </array>
    <key>FacebookAppID</key>
    <string>1306432813490046</string>
    <key>FacebookClientToken</key>
    <string>f0bef7e77adb5d1b8802444ab996936b</string>
    <key>FacebookDisplayName</key>
    <string>yelpSearchApp</string>
</dict>
</plist>
